argh==0.26.2
astroid==2.4.2
astropy==4.0.1.post1
atomicwrites==1.4.0
Babel==2.8.0
backcall==0.2.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.9.1
bkcharts==0.2
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2020.6.20
chardet==3.0.4
chart-studio==1.0.0
click==7.1.2
colorama==0.4.3
combo==0.1.0
comtypes==1.1.7
contextlib2==0.6.0.post1
contextvars==2.4
cycler==0.10.0
cytoolz==0.11.0
dash 
dash-core-components 
dash-html-components==1.0.3
dash-renderer 
dash-table 
dask 
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch 
distributed 
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
facebook-sdk==3.1.0
fastcache==1.1.0
filelock==3.0.12
flake8==3.8.3
Flask==1.1.2
Flask-Compress==1.5.0
fsspec 
future==0.18.2
gevent 
glob2==0.7
gmpy2==2.0.8
graphviz==0.14
greenlet 
gunicorn==20.0.4
h5py==2.10.0
HeapDict==1.0.1
html5lib 
idna 
imageio 
imagesize==1.2.0
immutables 
importlib-metadata
iniconfig
intervaltree
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.4.2
itsdangerous==1.1.0
jdcal==1.4.1
jedi
jellyfish==0.6.1
Jinja2==2.11.2
joblib
json5==0.9.5
jsonpath-rw==1.4.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client
jupyter-console
jupyter-core==4.6.3
jupyterlab==2.2.6
jupyterlab-server
keyring
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
libarchive-c==2.9
llvmlite==0.34.0
locket==0.2.0
lxml
MarkupSafe==1.1.1
matplotlib
mccabe==0.6.1
mock==4.0.2
more-itertools
mpmath==1.1.0
msgpack==1.0.0
multipledispatch==0.6.0
mysql-connector==2.2.9
mysqlclient==1.4.6
nbconvert==5.6.1
nbformat==5.0.7
networkx 
nltk 
nose==1.3.7
notebook 
numba==0.51.2
numexpr==2.7.1
numpy 
numpydoc 
olefile==0.46
openpyxl 
packaging==20.4
pandas 
pandaSDMX==0.9
pandocfilters==1.4.2
paramiko 
parso==0.7.0
partd==1.1.0
path 
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
plotly==4.5.2
pluggy==0.13.1
ply==3.11
prometheus-client==0.8.0
prompt-toolkit
psutil
py
pycodestyle==2.6.0
pycosat==0.6.3
pycparser
pycrypto==2.6.1
pycurl==7.43.0.5
pydocstyle
pydotplus==2.0.2
pyflakes==2.2.0
Pygments
pylint==2.6.0
PyNaCl
pyod==0.7.7.1
pyodbc
pyOpenSSL
pyparsing==2.4.7
pyreadline==2.1
pyrsistent
PySocks==1.7.1
pytest==6.0.2
python-dateutil==2.8.1
python-jsonrpc-server
python-language-server
pytz==2020.1
QDarkStyle==2.8.1
QtAwesome==0.7.2
qtconsole
QtPy==1.9.0
regex
requests
retrying==1.3.3
rope==0.17.0
ruamel-yaml==0.15.87
scikit-image==0.16.2
scikit-learn
scipy
seaborn
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport 
spyder 
spyder-kernels 
SQLAlchemy 
statsmodels==0.11.1
suod==0.0.3
sympy 
tables==3.6.1
tblib 
terminado==0.8.3
testpath==0.4.4
threadpoolctl
toml==0.10.1
toolz 
tornado==6.0.4
tqdm 
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions 
ujson 
unicodecsv==0.14.1
urllib3 
us==2.0.2
watchdog 
wcwidth 
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
xgboost==1.1.1
xlrd==1.2.0
XlsxWriter 
xlwings==0.20.7
xlwt==1.3.0
xmltodict==0.12.0
yapf 
zict==2.0.0
zipp==3.1.0
zope.event==4.4
zope.interface 
