argh==0.26.2
astroid==2.4.2
astropy==4.0.1.post1
atomicwrites==1.4.0
Babel==2.8.0
backcall==0.2.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.9.1
bkcharts==0.2
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2020.6.20
chardet==3.0.4
chart-studio==1.0.0
click==7.1.2
colorama==0.4.3
combo==0.1.0
comtypes==1.1.7
contextlib2==0.6.0.post1
contextvars==2.4
cycler==0.10.0
cytoolz==0.11.0
dash 
dash-core-components 
dash-html-components==1.0.3
dash-renderer 
dash-table 
dask 
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch 
distributed 
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
facebook-sdk==3.1.0
fastcache==1.1.0
filelock==3.0.12
flake8==3.8.3
Flask==1.1.2
Flask-Compress==1.5.0
fsspec 
future==0.18.2
gevent 
glob2==0.7
gmpy2==2.0.8
graphviz==0.14
greenlet 
gunicorn==20.0.4
h5py==2.10.0
HeapDict==1.0.1
html5lib 
idna 
imageio 
imagesize==1.2.0
immutables 
importlib-metadata
iniconfig
intervaltree
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.4.2
itsdangerous==1.1.0
jdcal==1.4.1
jedi
jellyfish==0.6.1
Jinja2==2.11.2
joblib
json5==0.9.5
jsonpath-rw==1.4.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client
jupyter-console
jupyter-core==4.6.3
jupyterlab==2.2.6
jupyterlab-server
keyring
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
libarchive-c==2.9
llvmlite==0.34.0
locket==0.2.0
lxml
MarkupSafe==1.1.1
matplotlib
mccabe==0.6.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools
mpmath==1.1.0
msgpack==1.0.0
multipledispatch==0.6.0
mysql-connector==2.2.9
mysqlclient==1.4.6
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.7
networkx 
nltk 
nose==1.3.7
notebook 
numba==0.51.2
numexpr==2.7.1
numpy 
numpydoc 
olefile==0.46
openpyxl 
packaging==20.4
pandas 
pandaSDMX==0.9
pandocfilters==1.4.2
paramiko 
parso==0.7.0
partd==1.1.0
path 
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///C:/ci/pillow_1594299032796/work
pkginfo==1.5.0.1
plotly==4.5.2
pluggy==0.13.1
ply==3.11
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1598885458782/work
psutil @ file:///C:/ci/psutil_1598352185190/work
py @ file:///tmp/build/80754af9/py_1593446248552/work
pycodestyle==2.6.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycrypto==2.6.1
pycurl==7.43.0.5
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1598885001695/work
pydotplus==2.0.2
pyflakes==2.2.0
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
pylint==2.6.0
PyNaCl @ file:///C:/ci/pynacl_1595009245871/work
pyod==0.7.7.1
pyodbc===4.0.0-unsupported
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyreadline==2.1
pyrsistent @ file:///C:/ci/pyrsistent_1600141799440/work
PySocks==1.7.1
pytest==6.0.2
python-dateutil==2.8.1
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1600278539111/work
python-language-server @ file:///tmp/build/80754af9/python-language-server_1600454544709/work
pytz==2020.1
PyWavelets==1.1.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle==2.8.1
QtAwesome==0.7.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
regex @ file:///C:/ci/regex_1596829824428/work
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
retrying==1.3.3
rope==0.17.0
Rtree==0.9.4
ruamel-yaml==0.15.87
scikit-image==0.16.2
scikit-learn @ file:///C:/ci/scikit-learn_1598358870446/work
scipy @ file:///C:/ci/scipy_1597675683670/work
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx @ file:///tmp/build/80754af9/sphinx_1597428793432/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1597081412696/work
spyder @ file:///C:/ci/spyder_1599057304706/work
spyder-kernels @ file:///C:/ci/spyder-kernels_1599051725691/work
SQLAlchemy @ file:///C:/ci/sqlalchemy_1598356696886/work
statsmodels==0.11.1
suod==0.0.3
sympy @ file:///C:/ci/sympy_1598358389211/work
tables==3.6.1
tblib @ file:///tmp/build/80754af9/tblib_1597928476713/work
terminado==0.8.3
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
toml==0.10.1
toolz @ file:///tmp/build/80754af9/toolz_1601054250827/work
tornado==6.0.4
tqdm @ file:///tmp/build/80754af9/tqdm_1600709023549/work
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
ujson @ file:///C:/ci/ujson_1600709405842/work
unicodecsv==0.14.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1597086586889/work
us==2.0.2
watchdog @ file:///C:/ci/watchdog_1593446204230/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
xgboost==1.1.1
xlrd==1.2.0
XlsxWriter @ file:///tmp/build/80754af9/xlsxwriter_1600470809563/work
xlwings==0.20.7
xlwt==1.3.0
xmltodict==0.12.0
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
zict==2.0.0
zipp==3.1.0
zope.event==4.4
zope.interface @ file:///C:/ci/zope.interface_1598624234652/work
